<table class="records-table">
  {{#each records as |record|}}
  <tr>
    <td>{{record.rank}}</td>
    <td>{{record.user.username}}</td>
    <td>{{#link-to 'charts.user-history' chart.id record.user.id}}
      {{record.value_display}}
    {{/link-to}}</td>
  </tr>
  {{/each}}
</table>
