<ul class="plain-bullet-list">
  {{#each filters as |filter|}}
    <li>
      <button type="button" class="show-filter-detail-button" {{action "updateSelectedFilterId" filter.id}}> {{filter.name}} </button>
    </li>
  {{/each}}
</ul>

<div>
  Search: {{input type="text" class="search-input" value=searchText}}
</div>

{{page-navigation pageResults=filters pageNumber=pageNumber}}
