{{#each filterGroups as |filterGroup|}}
  <div class="filter-group-{{filterGroup.id}}-select">
    <label>{{filterGroup.name}}</label>

    {{filter-select
      filterGroup=filterGroup
      selected=(get filtersPerGroup filterGroup.id)
      onFilterChange=(action "onAnyFilterChange" filterGroup.id)
      chosenOnly=true}}
  </div>
{{/each}}
