<h1>{{@model.filter.name}} - Add an outgoing implication</h1>

<form id='add-implication-form'>
  <div>
    <FilterSelect
      @baseFieldName='filter'
      @label='Add implication to:'
      @control={{this.filterSelect}}
    />
  </div>

  <div class='error-message'></div>

  <div>
    <button type='button' {{on 'click' this.addImplication}}> Add implication </button>
  </div>
</form>