<h1>{{@model.filter.name}} - Delete an outgoing implication</h1>

<form id='delete-implication-form'>
  <div>
    <FilterSelect
      @baseFieldId='target-filter'
      @label='Delete implication to:'
      @controlInstance={{this.filterSelect}}
    />
  </div>

  <div class='error-message'></div>

  <div>
    <button type='button' {{on 'click' this.deleteImplication}}>
      Delete implication
    </button>
  </div>
</form>