<h1>{{@model.filter.name}} (Filter) » Edit details</h1>

<form id='edit-filter-form'>
  <div>
    <label for='name-field'>Name</label>
    <input
      type='text'
      name='name'
      id='name-field'
      value='{{@model.filter.name}}'
    />
  </div>

  {{#if (eq this.filterGroup.kind 'numeric')}}
    <div>
      <label for='numeric-value-field'>Numeric value</label>
      <input
        type='number'
        name='numeric-value'
        id='numeric-value-field'
        value='{{@model.filter.numericValue}}'
      />
    </div>
  {{/if}}

  <div class='error-message'></div>

  <div>
    <button type='button' {{on 'click' this.saveEdits}}> Save edits </button>
  </div>
</form>