div.filter-apply-form {
  /* Contents can go on one line and wrap to mutiple lines as needed. */
  display: flex;
}
span.applied-filter {
  background-color: #bbbbee;
  border-radius: 3px;
  padding: 0 2px;
  margin: 0 5px;
}

table.records-table {
  border-collapse: collapse;
}
table.records-table td, table.records-table th {
  border: 1px solid black;
  padding: 2px;
}
table.records-table tr.non-personal-best {
  color: #888888;
}

ul.chart-group-listing {
  margin-left: 10px;
}
