/*
General
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Verdana', Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: hsl(240, 56%, 31%);
  margin: 5px;
}
p {
  margin-bottom: 15px;
}
a {
  font-size: inherit;
}
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: hsl(209, 41%, 41%);
}
a:hover {
  text-decoration: underline;
  color: hsl(205, 22%, 59%);
}
ul, ol {
  padding-left: 40px;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: 'Verdana', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
}

div.body {
  background-color: hsl(240, 56%, 31%);
}

div.small-section {
  margin: 10px 0;
}

div.error-message {
  color: red;
}

.general-content-box {
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
.general-content-box div {
  line-height: 1.5;
}
.general-content-box h1,
.general-content-box h2 {
  text-align: center;
}

div.equal-two-column-container {
  display: flex;
  gap: 20px;
}
div.equal-two-column-container > div {
  flex-basis: 50%;
}

hr.short {
  max-width: 200px;
}

/*
Site header
 */

div#fzc-header {
  display: flex;
  align-items: center;
  position: relative; /* Ensure the under-logo text can be absolute positioned */
  background-image: linear-gradient(
    to bottom,
    hsl(236, 97%, 12%),
    hsl(240, 56%, 31%) 97%,
    /* This should draw a horizontal line at the bottom of the header, coming
       'out of' the MV ships image, so that the page content can start
       immediately below. */
      hsl(0, 0%, 30%) 98%,
    hsl(0, 0%, 60%)
  );
}
div#fzc-header > * {
  flex-shrink: 0; /* Don't allow elements to shrink */
}
div#fzc-header > img.logo-image {
  padding-right: 30px;
}

/* Site subtitle below logo */
div.under-logo-subtitle {
  position: absolute;
  left: 12px;
  top: 36px;
}
div.under-logo-subtitle > h2 {
  /* Text border */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  font-size: 18px;
  color: hsl(0, 0%, 95%);
}

/* Links under logo */
div.under-logo-links {
  position: absolute;
  left: 235px;
  top: 43px;

  width: 165px;
  height: 100px;
  background-color: hsla(0, 0%, 100%, 8%);
  padding: 7px;
}
div.under-logo-links a {
  color: hsl(205, 25%, 60%);
  font-weight: bold;
}
div.under-logo-links a:hover {
  color: hsl(205, 20%, 80%);
}

/* Game selector */
div#game-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div#game-selector > div {
  display: flex;
}
div#game-selector img.unavailable-game {
  filter: saturate(0%); /* Monochrome */
}

/*
Footer
 */

footer {
  margin-top: 100px;
  padding: 40px 60px;
  background-color: hsl(240, 50%, 80%);
  display: flex;

  color: hsl(0, 0%, 30%);
}
footer .spacer {
  flex-grow: 1;
}
footer .current-time {
  align-self: flex-end;
}
#social-icons {
  margin-top: 20px;
}
#social-icons a {
  margin-right: 10px;
  text-decoration: none;
}

/*
Home page
 */

div#home-page-column-container {
  display: flex;
}
div#home-page-column-container .left-column {
  flex: 1 0 240px;
}
div#home-page-column-container .middle-column {
  flex: 1 0 500px;
}
div#home-page-column-container .right-column {
  flex: 1 0 250px;
}

div.home-page-box {
  margin: 15px 8px;
}
div.home-page-box-header-bar {
  border-radius: 10px 10px 0 0;
  padding: 3px 0 3px 8px;
  box-shadow: 4px 4px 8px 0 hsla(0, -1%, -1%, 0.6);
  background-image: linear-gradient(
    to bottom,
    hsl(0, -1%, 70%),
    hsl(0, -1%, 60%) 10%,
    white 40%,
    white 60%,
    hsl(0, -1%, 50%) 90%,
    hsl(0, -1%, 60%)
  );
}
div.home-page-box-header-bar.welcome-box {
  background-color: hsl(0, 0%, 92%);
  background-image: none;
}
div.home-page-box-body,
div.home-page-box-without-header {
  background-color: white;
  font-family: Verdana, sans-serif;

  padding: 8px;
  box-shadow: 4px 4px 8px 0 hsla(0, -1%, -1%, 0.6);
}
div.home-page-box-body {
  border-radius: 0 0 10px 10px;
}
div.home-page-box-without-header {
  border-radius: 10px;
}
div.home-page-box-body.links {
  line-height: 2em;
}

/*
Chart navigation
 */

ul.horizontal-charts-list {
  display: flex;
  list-style: none;
}
ul.horizontal-charts-list li {
  border-left: 2px solid gray;
  padding: 0 5px;
}
ul.horizontal-charts-list li:first-child {
  border-left: 0;
  padding-left: 0;
}
ul.horizontal-charts-list.inline {
  padding: 0;
}

/*
Tables for data: records, rankings, etc.
 */

.data-table {
  margin: 10px 0;
  text-align: left;
  width: 100%;
  border: 1px black solid;
  border-radius: 10px;
  border-spacing: 0;
}

/* Body rows with alternating colors */
.data-table tbody tr:nth-child(2n + 1) td {
  background-color: hsl(0, 0%, 90%);
}
.data-table tbody tr:nth-child(2n) td {
  background-color: hsl(0, 0%, 97%);
}

/* Rounded table corners.
   Since we define backgrounds at the cell level, the border radius
   also has to be defined at the cell level to make the corners rounded.
   We assume that the first row must have th's and the last row must have td's.
   However, we don't assume what is or isn't thead / tbody / tfoot.
 */
.data-table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.data-table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.data-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.data-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.data-table th {
  background: linear-gradient(
    0deg,
    hsl(0, 0%, 39%) 0%,
    white 40%,
    white 60%,
    hsl(0, 0%, 39%) 100%
  );
  height: 26px;
  font-weight: bold;
  padding: 5px 10px;
}

/* This stuff would apply if column headers were clickable to change sorting */
/*
.data-table thead th:hover {
  background: linear-gradient(0deg,
                hsl(0, 41%, 33%) 0%,
                white 40%,
                white 60%,
                hsl(0, 41%, 33%) 100%
              );
}
.data-table thead a { display: block; text-align: center; }
.data-table thead a:hover { color: black; }
*/

/* Column borders */
.data-table tbody td:nth-child(n + 2) {
  border-left: 1px hsl(0, 0%, 65%) solid;
}

.data-table tbody td {
  padding: 5px;
}

.data-table tr.non-personal-best {
  color: hsl(0, 0%, 53%);
}
span.non-personal-best-explainer {
  color: hsl(0, 0%, 53%);
}

/*
Filter UI
 */

span.applied-filter {
  background-color: hsl(270, 50%, 85%);
  border-radius: 3px;
  padding: 0 2px;
  margin: 0 5px;
}

/*
Site parameters: Charts
 */

span.chart-tag {
  border-left: 2px solid gray;
  padding: 0 5px;
}
span.chart-tag:first-child {
  border-left: 0;
  padding-left: 0;
}

/*
Site parameters: Filter groups
 */

div.filter-section {
  display: flex;
}
div.filter-section > div {
  margin: 0 3px;
}
div.filter-section > div.filter-list {
  flex-basis: 180px;
  flex-grow: 1;
}
div.filter-section > div.filter-detail-section {
  flex-basis: 540px;
  flex-grow: 3;
}

/*
Forum archive
 */

.forum-archive-menu {
  color: hsl(0, 0%, 80%);
}
.forum-archive-menu a {
  color: hsl(205, 25%, 60%);

  /* Don't include whitespace in the link text
     (noticeable when you hover over and the underline is visible) */
  display: inline-block;
}
.forum-archive-menu a:hover {
  color: hsl(205, 20%, 80%);
}
.general-content-box.forum-archive-menu {
  background-color: hsl(0, 0%, 20%);
}

table.forum-archive-menu {
  border-collapse: collapse;
  width: 100%;
  margin: 8px 0;
}
table.forum-archive-menu th {
  background: linear-gradient(
    hsl(240, 13%, 67%) 0%,
    hsl(240, 20%, 50%) 25%,
    white 100%
  );
  box-shadow:
    inset 0 0 0 1px white,
    inset 0 0 0 2px black;
  color: black;
}
table.forum-archive-menu.forums a {
  font-size: larger;
}
table.forum-archive-menu.forums th {
  padding: 8px 0;
}
table.forum-archive-menu.forums td {
  padding: 15px;
}
table.forum-archive-menu.topics th {
  padding: 2px 0;
}
table.forum-archive-menu.topics td {
  padding: 4px;
}

/* Body rows with alternating colors */
table.forum-archive-menu tr:nth-child(2n + 1) td {
  background-color: hsl(0, 0%, 22%);
}
table.forum-archive-menu tr:nth-child(2n) td {
  background-color: hsl(0, 0%, 20%);
}

h2.topic-title {
  /* Word-wrapping titles don't look very good with center align */
  text-align: left;
}

.post-container {
  display: grid;
  grid-template-areas: 'poster-info post-header'
                       'poster-info post-text';
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 200px 1fr;

  background-color: hsl(0, 0%, 95%);
  margin: 5px 0;
}
.post-container > div {
  border: 1px solid gray;
}
.poster-info {
  grid-area: poster-info;
  background-color: hsl(0, 0%, 90%);
  text-align: center;
  padding: 10px;
}
.poster-info .poster-name {
  font-weight: bold;
}
.poster-info .poster-title {
  font-size: x-small;
  margin-top: 5px;
}
.post-header {
  grid-area: post-header;
  background-color: hsl(220, 50%, 30%);
  color: hsl(0, 0%, 80%);
  font-size: x-small;
  font-weight: bold;
  padding: 7px;

  display: flex;
}
.post-header span.subject {
  flex-grow: 1;
}
.post-header span.time {
  width: 120px;
}
.post-header span.number {
  width: 40px;
}
.post-text {
  grid-area: post-text;
  background-color: hsl(0, 0%, 90%);
  padding: 10px;
}
.post-text div.edit-time {
  font-style: italic;
  font-size: smaller;
  margin-top: 30px;
}
table.quote_table td.quote_name {
  padding: 3px;
  font-weight: bold;
}
table.quote_table td.quote_message {
  /* This padding is particularly useful for multiple nested quotes */
  padding: 3px;
  border: black 1px solid;
  background-color: hsl(240, 30%, 90%);
}
.poll-container {
  text-align: center;
  background-color: hsl(240, 30%, 90%);
  padding: 10px;
  border: 1px solid black;
  margin: 5px 0;
}
