/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
}
body {
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  background-color: hsl(240, 56%, 31%);
}
p {
  margin-bottom: 15px;
}
a:link,a:active,a:visited {
  text-decoration: none;
  color: hsl(209, 41%, 41%);
}
a:hover {
  text-decoration: underline;
  color: hsl(205, 22%, 59%);
}
hr {
  height: 0;
  border: solid #D1D7DC 0;
  border-top-width: 1px;
}

h1, h2 {
  font-weight: bold;
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
}

div.body {
  background-color: hsl(240, 56%, 31%);
}

div.small-section {
  margin: 10px 0;
}

div.error-message {
  color: red;
}

ul.plain-bullet-list {
  margin-left: 30px;
}

div.equal-two-column-container {
  display: flex;
  gap: 20px;
}
div.equal-two-column-container > div {
  flex-basis: 50%;
}

hr.short {
  max-width: 200px;
}


/* Site header */

div#fzc-header {
  display: flex;
  align-items: center;
  position: relative;  /* Ensure the under-logo text can be absolute positioned */
  background-image: linear-gradient(to bottom, rgb(1, 5, 60), rgb(35, 35, 123));
}
div#fzc-header > * {
  flex-shrink: 0;  /* Don't allow elements to shrink */
}
div#fzc-header > img.logo-image {
  padding-right: 30px;
}

/* Text below logo */
div.under-logo-text {
  position: absolute;
  left: 220px;
  top: 65px;
  width: 180px;
  text-align: center;
}
div.under-logo-text > h2 {
  text-shadow: 1px 5px 2px black;
  font-size: 16px;
  line-height: 1.8;
  color: hsl(0, 0%, 86%);
}

/* Game selector */
div#game-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div#game-selector > div {
  display: flex;
}

/* Social media buttons bar */
div#button-bar,
div.home-page-box-header-bar {
  background-image: linear-gradient(
    to bottom,
    hsl(0, -1%, 70%),
    hsl(0, -1%, 60%) 10%,
    white 40%,
    white 60%,
    hsl(0, -1%, 50%) 90%,
    hsl(0, -1%, 60%));
}

div#button-bar {
  display: flex;
  height: 30px;
  align-items: center;
  padding-left: 10px;
  gap: 15px;
}
div#button-bar > a {
  line-height: 1;
}


/* Home page */

div#home-page-column-container {
  display: flex;
}

div.home-page-box {
  margin: 15px 8px;
}
div.home-page-box-header-bar {
  border-radius: 10px 10px 0 0;
  padding: 3px 0 3px 8px;
  box-shadow: 4px 4px 8px 0 hsla(0, -1%, -1%, 0.6);
}
div.home-page-box-header-bar.welcome-box {
  background-color: hsl(0,0%,92%);
  background-image: none;
}
div.home-page-box-body, div.home-page-box-without-header {
  background-color: white;
  font-family: Verdana, sans-serif;

  padding: 8px;
  box-shadow: 4px 4px 8px 0 hsla(0, -1%, -1%, 0.6);
}
div.home-page-box-body {
  border-radius: 0 0 10px 10px;
}
div.home-page-box-without-header {
  border-radius: 10px;
}
div.home-page-box-body.links {
  line-height: 2.0em;
}
div.home-page-box-body.links > a,
div.home-page-box-body.news > a {
  text-decoration: none;
}
div.home-page-box-body.links > a:hover,
div.home-page-box-body.news > a:hover {
  text-decoration: underline;
}


/* Chart listings */

ul.chart-group-listing {
  margin-left: 10px;
}


/* Records/rankings */

.scoreboard-page-header {
  background-color: hsl(0, 0%, 97%);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.scoreboard-page-header div {
  line-height: 1.5;
}
.scoreboard-page-header h1, .scoreboard-page-header h2 {
  text-align: center;
}

.scoreboard {
  text-align: left;
  width: 100%;
  border: 1px black solid;
  border-radius: 10px;
  border-spacing: 0;
}

/* Body rows with alternating colors */
.scoreboard tbody tr:nth-child(2n + 1) td { background-color: hsl(0, 0%, 90%);  }
.scoreboard tbody tr:nth-child(2n) td { background-color: hsl(0, 0%, 97%);  }

/* Rounded table corners */
.scoreboard thead th:first-child { border-radius: 10px 0 0 0; }
.scoreboard thead th:last-child { border-radius: 0 10px 0 0; }
.scoreboard tbody tr:last-child td:first-child { border-radius: 0 0 0 10px; }
.scoreboard tbody tr:last-child td:last-child{ border-radius: 0 0 10px 0; }

.scoreboard thead th {
  background: linear-gradient(0deg,
                hsl(0, 0%, 39%) 0%,
                white 40%,
                white 60%,
                hsl(0, 0%, 39%) 100%
              );
  height: 26px;
  font-weight: bold;
  padding: 5px 10px;
}

/* This stuff would apply if column headers were clickable to change sorting */
/*
.scoreboard thead th:hover {
  background: linear-gradient(0deg,
                hsl(0, 41%, 33%) 0%,
                white 40%,
                white 60%,
                hsl(0, 41%, 33%) 100%
              );
}
.scoreboard thead a { display: block; text-align: center; }
.scoreboard thead a:hover { color: black; }
*/

/* Column borders */
.scoreboard tbody td:nth-child(n+2) {
  border-left: 1px hsl(0, 0%, 65%) solid;
}

.scoreboard tbody td {
  padding: 5px;
}

.scoreboard tr.non-personal-best {
  color: hsl(0, 0%, 53%);
}
span.non-personal-best-explainer {
  color: hsl(0, 0%, 53%);
}

span.applied-filter {
  background-color: hsl(240, 60%, 83%);
  border-radius: 3px;
  padding: 0 2px;
  margin: 0 5px;
}


/* Filter management */

div.filter-section {
  display: flex;
}
div.filter-section > div {
  margin: 0 3px;
}
div.filter-section > div.filter-list {
  flex-basis: 180px;
  flex-grow: 1;
}
div.filter-section > div.filter-detail-section {
  flex-basis: 540px;
  flex-grow: 3;
}
