<table class="ladders">
  <thead>
    <tr>
      <th>Name</th>
      <th>Filter spec</th>
    </tr>
  </thead>

  <tbody>
    {{#each @ladders as |ladder|}}
      <tr>
        <td>
          <LinkTo @route="ladders.show" @model={{ladder.id}}>
            {{ladder.name}}
          </LinkTo>
        </td>
        <td>
          {{ladder.filterSpec}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
