{{#each @filterGroups as |filterGroup|}}
  <div>
    <FilterSelect
      @baseFieldName={{concat 'filter-' filterGroup.id}}
      @label={{filterGroup.name}}
      @hasEmptyOption={{true}}
      @control={{get @filterSelectControlInstances filterGroup.id}}
    />
  </div>
{{/each}}