{{#each @filterGroups as |filterGroup|}}
  <div>
    <FilterSelect
      @fieldId="filter-{{filterGroup.id}}-select"
      @label={{filterGroup.name}}
      @controlInstance={{get @filterSelectControlInstances filterGroup.id}}
      @hasEmptyOption={{true}} />
  </div>
{{/each}}
