{{#each @filterGroups as |filterGroup|}}
  <div>
    <FilterSelect
      @label={{filterGroup.name}}
      @controlInstance={{get @filterSelectControlInstances filterGroup.id}}
    />
  </div>
{{/each}}