<h1>{{@model.filterGroup.name}} (filter group) - Create new filter</h1>

<form id='create-filter-form'>
  <div>
    <label for='name-field'>Name</label>
    <input type='text' name='name' id='name-field' />
  </div>

  {{#if (eq @model.filterGroup.kind 'select')}}
    <div>
      <label for='usage-type-field'>Type</label>
      <select
        name='usage-type'
        id='usage-type-field'
        placeholder='Not selected'
      >
        {{#each this.FILTER_USAGE_TYPE_OPTIONS as |usageTypeOption|}}
          <option value='{{usageTypeOption}}'>
            {{usageTypeOption}}
          </option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if (eq @model.filterGroup.kind 'numeric')}}
    <div>
      <label for='numeric-value-field'>Numeric value</label>
      <input type='number' name='numeric-value' id='numeric-value-field' />
    </div>
  {{/if}}

  <div class='error-message'></div>

  <div>
    <button type='button' {{on 'click' this.createFilter}}>
      Create filter
    </button>
  </div>
</form>