<div class="container">
  <div class="menu">
    <LinkTo @route="index">
      <h1>
        <em>F-Zero Central</em>
      </h1>
    </LinkTo>
    <div class="links">
      <LinkTo @route="games">
        Games
      </LinkTo>
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
