<div class="container">
  <div class="menu">
    <LinkTo @route="index">
      <h1>
        <em>
          {{#if this.devMode}}
            F-Zero Central (Development)
          {{else}}
            F-Zero Central
          {{/if}}
        </em>
      </h1>
    </LinkTo>
    <div class="links">
      <LinkTo @route="games">
        Games
      </LinkTo>
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
