<div id="home-page-column-container">
  <div style="flex: 1 0 240px;">
    <div class="home-page-box">
      <div class="home-page-box-header-bar">
        <span>News</span>
      </div>
      <div class="home-page-box-body news">
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="home-page-box">
      <div class="home-page-box-header-bar">
        <span>Competition related links</span>
      </div>
      <div class="home-page-box-body links">
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class="home-page-box">
      <div class="home-page-box-header-bar">
        <span>Other F-Zero links</span>
      </div>
      <div class="home-page-box-body links">
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>

  <div style="flex: 1 0 500px;">
    <div class="home-page-box">
      <div class="home-page-box-header-bar welcome-box">
        <img src="{{rootURL}}assets/images/welcome_banner.png" />
      </div>
      <div class="home-page-box-body">
        <p>Welcome to the demo site for the next F-Zero Central! The site is still very much under construction, but we have some ladder pages available which you can browse - start by choosing a game above. Login and record submission aren't available yet.</p>
        <p>We're still in the process of porting more data from the old site. Games that aren't available yet are shown in black-and-white in the top menu. For the games that are available, the record data might be incomplete and/or out of date.</p>
      </div>
    </div>
  </div>

  <div style="flex: 1 0 250px;">
    <div class="home-page-box">
    </div>
  </div>
</div>
