<div id='home-page-column-container'>
  <div class='left-column'>
    <div class='home-page-box'>
      <div class='home-page-box-header-bar'>
        <span>News</span>
      </div>
      <div class='home-page-box-body news'>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class='home-page-box'>
      <div class='home-page-box-header-bar'>
        <span>Competition related links</span>
      </div>
      <div class='home-page-box-body links'>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
    <div class='home-page-box'>
      <div class='home-page-box-header-bar'>
        <span>Other F-Zero links</span>
      </div>
      <div class='home-page-box-body links'>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>

  <div class='middle-column'>
    <div class='home-page-box'>
      <div class='home-page-box-header-bar welcome-box'>
        <img src='{{rootURL}}assets/images/welcome_banner.png' alt='Welcome to F-Zero Central' />
      </div>
      <div class='home-page-box-body'>
        <p>Welcome to the demo site for the next F-Zero Central! The site is still very much under construction, but feel free to browse what's available.</p>
        <p>To browse the ladders, start by choosing a game above. We're still in the process of porting more data from the old site, so games that aren't available yet are shown in black-and-white in the top menu. For the games that are available, the record data might be incomplete and/or out of date.</p>
        <p>Note: since this is not the official FZC website yet, any rankings, rules, policies, etc. on this site are not yet official.</p>
        <p>To see what we're working on next, check out our <a href="https://github.com/orgs/fzerocentral/projects/1">GitHub project board.</a></p>
      </div>
    </div>
  </div>

  <div class='right-column'>
    <div class='home-page-box'>
    </div>
  </div>
</div>